@page

@{ 
    ViewData["Title"] = "Edit Restaurant";
}

<!-- "{restaurantId:int}" -->

@model Jakes_Ode_To_Food.Pages.Restaurants.EditModel
@{
    <h1>Edit Restaurant</h1>
    <h2>@Model.Restaurant.Name</h2>
}
